/* Header styling*/
header {
    background-color: rgb(0, 0, 0);
}
.head h1 {
    color: white;
  text-shadow: 2px 2px 2px #eeb3b3;
}
.head {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100%;
}
/*nav styling*/
#nav {
    background: rgb(224, 222, 222);
    display: inline-block;
    color: white;
    width: 100%;
    height: 40px;
    text-align: center;
    padding: 0;
}
h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: -10px;
}
h3 {
    color: rgb(84, 42, 84);
    text-align: center;
    margin-bottom: -2px;
    margin-top: -2px;
}
p {
    color: white;
    text-align: center;
}
body {
    background-color: pink;
}
.project {
    display: flex;
    justify-content: center;
    text-align: center;
}